[submodule "SKACHWinter2026_CDMPIKAN/reveal.js"]
	path = SKACHWinter2026_CDMPIKAN/reveal.js
	url = https://github.com/EiffL/reveal.js.git
[submodule "SKACHWinter2026_SEarCH/reveal.js"]
	path = SKACHWinter2026_SEarCH/reveal.js
	url = https://github.com/EiffL/reveal.js.git
[submodule "Cosmostat2026/reveal.js"]
	path = Cosmostat2026/reveal.js
	url = https://github.com/EiffL/reveal.js.git
[submodule "CosmoInTheAlps2026/reveal.js"]
	path = CosmoInTheAlps2026/reveal.js
	url = https://github.com/EiffL/reveal.js.git
[submodule "AIAstroEPFL2026/reveal.js"]
	path = AIAstroEPFL2026/reveal.js
	url = https://github.com/EiffL/reveal.js.git
[submodule "TTC2026/reveal.js"]
	path = TTC2026/reveal.js
	url = https://github.com/EiffL/reveal.js.git
